<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ETS.payment.mapper.PaymentMapper">
	<!-- 이용권 리스트 -->
	<select id="getuseTicketList" resultType="cMap" parameterType="dMap">
		SELECT UseTicketManage.useTicketSeq
			,  UseTicketManage.exchangeName
			,  UseTicketManage.useTicketName
			,  UseTicketManage.applicationPeriod
			,  UseTicketManage.useTicketStatus
			,  UseTicketManage.useTicketPrice
			,  event.EventName
			,  event.DiscountRate
		FROM event, UseTicketManage
		WHERE 1=1
			AND UseTicketManage.useTicketEvent = event.EventSeq
		ORDER BY UseTicketManage.applicationPeriod DESC, UseTicketManage.exchangeName
		<if test="@org.apache.commons.lang.StringUtils@isNotEmpty(scopeRow)">
		 		LIMIT ${scopeRow}, ${rowCount}
		</if>
	</select>
	
	<!-- 이용권 리스트 카운트 -->
	<select id="getuseTicketListCount" resultType="int" parameterType="cMap">
		SELECT COUNT(*) AS cnt
		  FROM UseTicketManage
		 WHERE 1=1
		 ORDER BY exchangeName DESC
	</select>
	
	<!-- 이벤트 리스트 -->
	<select id="geteventList" resultType="cMap">
		SELECT EventSeq,EventName,DiscountRate
		FROM event
		WHERE 1=1
		ORDER BY EventSeq,EventName
	</select>
	
	<!-- 거래소 리스트 -->
	<select id="getExchangeList" resultType="cMap">
		SELECT ExchangeName
		FROM Exchange_Info
		WHERE 1=1
		ORDER BY ExchangeName
	</select>
	
	<!--이용권에 이벤트 등록 -->
	<update id="registerEvent" parameterType="dMap">
		UPDATE UseTicketManage 
			SET 
			<choose>
				<when test="@org.apache.commons.lang.StringUtils@isNotEmpty(searchType)">
					useTicketEvent = ${searchType}
				</when>
				<otherwise>
					useTicketStatus = ${useTicketStatus}
				</otherwise>
			</choose>
		   	WHERE useTicketSeq = ${useTicketSeq}
	</update>
	
	<!-- 이용권 등록 -->
	<insert id="registeruseTicket" parameterType="dMap">
		INSERT INTO UseTicketManage
		  	 ( exchangeName, useTicketName, applicationPeriod, useTicketStatus, useTicketPrice, useTicketEvent)
		VALUES
			 ( #{EXsearchType}, #{useTicketName}, #{useTicketPeriod}, 0 ,#{useTicketPrice}, 0)
	</insert>
	
	<!-- 이용권 삭제 -->
	<delete id="deleteuseTicket" parameterType="dMap">
		DELETE
		  FROM UseTicketManage
		 WHERE useTicketSeq = ${useTicketSeq}
	</delete>
	
	<!--이벤트 해제 -->
	<update id="releaseEvent" parameterType="dMap">
		UPDATE UseTicketManage 
			SET 
			useTicketEvent = 0
		   	WHERE useTicketSeq = ${useTicketSeq}
	</update>
	
	<!-- 이용권 결제 리스트 -->
	<select id="getPaymentList" resultType="cMap" parameterType="dMap">
		SELECT payment.PaymentSeq
			,  payment.paymentDay
			,  member.id
			,  UseTicketManage.exchangeName
			,  UseTicketManage.useTicketName
            ,  event.EventName
            ,  event.DiscountRate
            ,  UseTicketManage.useTicketPrice*(1 - event.DiscountRate/100) AS TicketPrice
		FROM payment, UseTicketManage, member, event
		WHERE 1=1
			AND payment.userid = member.NO
			AND payment.uticketname = UseTicketManage.useTicketSeq
            AND event.EventSeq != 0
            AND UseTicketManage.useTicketEvent = event.EventSeq
			<if test="@org.apache.commons.lang.StringUtils@isNotEmpty(searchID)">
				AND member.id = #{searchID}
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotEmpty(searchPeriods)">
				<if test="@org.apache.commons.lang.StringUtils@isNotEmpty(searchPeriodf)">
					AND payment.paymentDay BETWEEN #{searchPeriods} AND #{searchPeriodf}
				</if>
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotEmpty(useticketname)">
				<choose>
					<when test='useticketname.equals("ALL")'>
						AND payment.uticketname = UseTicketManage.useTicketSeq
					</when>
					<otherwise>
						AND UseTicketManage.useTicketSeq = #{useticketname}	
					</otherwise>
				</choose>		
			</if>

		ORDER BY UseTicketManage.applicationPeriod DESC, UseTicketManage.exchangeName
		<if test="@org.apache.commons.lang.StringUtils@isNotEmpty(scopeRow)">
		 		LIMIT ${scopeRow}, ${rowCount}
		</if>
	</select>
	
	<!-- 이용권 결제 리스트 카운트 -->
	<select id="getPaymentListCount" resultType="int" parameterType="cMap">
		SELECT COUNT(*) AS cnt
		  FROM payment
		 WHERE 1=1
		 ORDER BY PaymentSeq DESC
	</select>
	
	<!-- 이벤트 리스트 -->
	<select id="dummy" resultType="cMap">
		SELECT useTicketSeq, useTicketName
		FROM UseTicketManage
		WHERE 1=1
		ORDER BY useTicketSeq DESC, useTicketName DESC
	</select>
	
	<!-- 레퍼럴 리스트 -->
	<select id="getManageList" resultType="cMap" parameterType="dMap">
		SELECT idx
			 , c_code
			 , c_name
		  FROM referral
		 WHERE 1=1
		 ORDER BY idx DESC
	 	<if test="@org.apache.commons.lang.StringUtils@isNotEmpty(scopeRow)">
	 		LIMIT ${scopeRow}, ${rowCount}
	 	</if>
	</select>
	
	<!-- 레퍼럴 카운트 -->
	<select id="getManageListCount" resultType="int" parameterType="cMap">
		SELECT COUNT(*) AS cnt
		  FROM referral
		 WHERE 1=1
		 ORDER BY idx DESC
	</select>
	
	<!-- 레퍼럴 등록 -->
	<insert id="insertManage" parameterType="dMap">
		INSERT INTO refferal
		  	 (c_name, c_code)
		VALUES
			 (#{refferalName}, #{refferalCode})
	</insert>
	
</mapper>